@import "compass/css3";

@mixin borda-arredondada($raio: 0.3em){
  @include border-radius($raio);
}

%image-replacement{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

%sombra-padrao{
  @include box-shadow(rgba(0, 0, 0, 0.5) 0 2px 6.65px);
}

%borda-arredondada{
  @include border-radius($raio);
}
