$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$cor-branca: white;
$raio-grande: 50px;
$raio: 0.3em;
$ponto-de-quebra: 980px;
$tamanho-da-fonte-padrao: 16px;

$mq-mobile: "(max-width: 980px)";